
<template>
  <div id="app">
    <Create />
    <Products />
    
  </div>
</template>

<script>
import Products from './products'
import Create from './create'
export default {
  name: 'App',
  components:{
    Products,
    Create
  }
}
</script>

<style>
</style>