<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header bg-success text-light">Create</div>

                    <div class="card-body">
                        <form>
                          <div class="form-group">
                            <label for="product_name">Product Name</label>
                            <input type="text" class="form-control" id="product_name" placeholder=" Add name" v-model="product.product_name">
                          </div>
                          <div class="form-group">
                            <label for="Quantity">Quantity</label>
                            <input type="numeric" class="form-control" id="quantity" placeholder="Add quantity" v-model="product.quantity">
                          </div>
                          <div class="form-group">
                            <label for="Quantity">Price</label>
                            <input type="numeric" class="form-control" id="price" placeholder="Add Price" v-model = "product.price">
                          </div>
                          <button id="createBtn" @click='create' class="btn btn-primary ">Save Product</button>
                           <button id="UpdateBtn" @click='update' class="btn btn-primary ">Update Product</button>
                      </form>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Products from './products';

    export default {
        components: {
            Products
        },
        data () {
            return{
                product : {
                    product_id:localStorage.getItem('pid'),
                    product_name:'',
                    quantity:0,
                    price:0
                },
                url: "json"
            }
        },
        methods: {
            create () {
              this.$http.post('api/'+this.url, this.product).then(response => {
                console.log(response)
              })
            },
             update () {
              this.$http.put('api/'+this.url, this.product).then(response => {
                console.log(response)
              })
            }
        }
    }
</script>
