<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header bg-success text-light">Products</div>
                    <div class="card-body"  > 
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Product</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Price</th>
                          <th scope="col">actions</th>
                        </tr>
                      </thead>
                      <tbody >
                    
                        <tr :value='product.id' v-for="product in products" v-bink:key="product"> 
                          <td >{{product.product_name}}</td>
                          <td >{{product.quantity}}</td>
                          <td >{{product.price}}</td>
                          <td><button :id="product.id" @click="remove(product.id)" type="button" class="btn btn-primary btn-md glyphicon glyphicon-remove">X</button>
                          
                          <button @click="edit(product.id)" type="button" class="btn btn-success btn-md glyphicon glyphicon-remove">Edit</button>
                          </td>
                          </td>

                        </tr>
                </tbody>
                </table>
                </div>
                 </div>

            </div>
        </div>
    </div>
</template>

<script>
global.jQuery = require('jquery')
let $ = global.jQuery
    export default {
        mounted() {
            $("#UpdateBtn").hide();
        },
        data () {
            return {
                products:[],
                prodid:0,
                url: "json" //change this to "product" 
            } 
                
        },
        created () {
            this.getProducts()
          },
        methods: {
            getProducts: function () {
              this.$http.get('api/'+this.url).then(response => {
                this.products = response.body
              })
            },
            remove: function (id) {
              this.$http.delete('api/'+this.url+'/'+id).then(response => {
                $("#"+id).parent().parent().hide();
              })
            },
            edit: function(id) {
                this.$http.get('api/'+this.url+'/'+id).then(response => {
                $("#product_name").val(response.body.product_name);
                $("#quantity").val(response.body.quantity);
                $("#price").val(response.body.price);
                localStorage.setItem('pid',response.body.id);
                $("#UpdateBtn").show();
                $("#createBtn").hide();
              })
            },
            update:function() {}


          }
    }
</script>
